langchain
langchain-community
python-docx
fpdf2
sentence_transformers
torch
sentencepiece
transformers
accelerate
PyPDF2
chromadb
pypdf
tiktoken
streamlit
fastapi
uvicorn
python-multipart
aiofiles